<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>
        <a href="{% url 'articles:list'%}"> <img src="/static/logo.png" /></a>
      </h1>
      <nav>
        <ul>
          {%if user.is_authenticated %}
          <li>
            <form class="logout-link" action="/accounts/logout/" method="post">
              {%csrf_token%}
              <button type="submit">Logout</button>
            </form>
          </li>
          <li><a href="/articles/create/">New Article</a></li>
          {%else %}
          <li><a href="/accounts/login/">Login</a></li>
          <li><a href="/accounts/signup/">SignUp</a></li>
          {% endif%}
        </ul>
      </nav>
      {% block content %} {% endblock%}
    </div>
  </body>
</html>
